.card-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-main{
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 390px;
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.card-header-rest-deets{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

.card-header-usp-mc{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.card-header-usp, .card-header-mc{
  margin: 0;
  padding: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  font-size: 0.85rem;
}

.card-header-mc{
  margin-left: 5px;
}

.card-header-name{
  font-size: 20px;
  font-weight: 600;
}

.card-header-location{
  font-size: 15px;
  color: #999;
}

.card-body{
  display: flex;
  justify-content: space-between;
  height: 113px;
  width: 390px;
  padding: 5px;
}

.card-body-section1{
  width: 180px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 0.5rem;
  border: 5px dotted white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.must-try-heading{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px dashed #000;
}

.must-try-content{
  font-size: 15px;
  text-align: center;
}

.card-body-section2{
  width: 195px;
}

.budget, .options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-heading, .options-heading{
  font-weight: 700;
}

.budget-content, .options-content{
  margin: 0;
}

.budget-content-red{
  font-size: 15px;
  font-weight: 800;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}

.budget-content-amber{
  font-size: 15px;
  font-weight: 800;
  background-color: #FFBF00;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}

.budget-content-green{
  font-size: 15px;
  font-weight: 800;
  background-color: #198754;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}

.hasveg-green{
  color: green;
  padding: 3px;
  border: 5px solid rgb(121, 224, 121);
  border-radius: 5px ;
  font-size: 25px;
  font-weight: bold;
  margin-right: 5px;
}

.hasveg-red{
  color: red;
  padding: 3px;
  border: 5px solid rgb(255, 117, 117);
  border-radius: 5px ;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 390px;
  border-top: 3px dotted #eee;
  padding: 5px;
}

.card-footer-heading{
  font-size: 20px;
}

.card-footer-rating{
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
}

.card-footer-rating p{
  margin: 0;
  font-weight: 600;
}